{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": true,
  "plugin": [
    "oh-my-openagent@latest",
    {{- if eq .chezmoi.os "darwin"}}
    "opencode-claude-auth@latest",
    {{ end -}}
    "context-mode@latest"
  ],
  "mcp": {
    "serena": {
      "type": "local",
      "command": [
        "uvx",
        "--from",
        "git+https://github.com/oraios/serena",
        "serena",
        "start-mcp-server",
        "--context",
        "ide-assistant",
        "--project",
        "."
      ],
      "enabled": true
    },
    "github": {
      "type": "local",
      "command": [
        "bunx",
        "@modelcontextprotocol/server-github"
      ],
      "enabled": true,
      "environment": {
        "GITHUB_PERSONAL_ACCESS_TOKEN": "$GITHUB_TOKEN"
      }
    },
    "memory": {
      "type": "local",
      "command": [
        "bunx",
        "@modelcontextprotocol/server-memory"
      ],
      "enabled": true
    },
    "sequential-thinking": {
      "type": "local",
      "command": [
        "bunx",
        "@modelcontextprotocol/server-sequential-thinking"
      ],
      "enabled": true
    },
    "atlassian": {
      "type": "remote",
      "url": "https://mcp.atlassian.com/v2/mcp"
    }
  }
}
