:root {
  --rosewater: #f4dbd6;
  --flamingo: #f0c6c6;
  --pink: #f5bde6;
  --mauve: #c6a0f6;
  --red: #ed8796;
  --maroon: #ee99a0;
  --peach: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --teal: #8bd5ca;
  --sky: #91d7e3;
  --sapphire: #7dc4e4;
  --blue: #8aadf4;
  --lavender: #b7bdf8;
  --text: #cad3f5;
  --subtext1: #b8c0e0;
  --subtext0: #a5adcb;
  --overlay2: #939ab7;
  --overlay1: #8087a2;
  --overlay0: #6e738d;
  --surface2: #5b6078;
  --surface1: #494d64;
  --surface0: #363a4f;
  --base: #24273a;
  --mantle: #1e2030;
  --crust: #181926;
  --transparent: rgba(0, 0, 0, 0.0);
}

* {
  font-size: 16px;
  font-family: "Hack Nerd Font";
  color: var(--text);
}

.icon {
  padding-right: 8px;
}

.label {
  padding-right: 4px;
}

.yasb-bar {
  padding: 0 16px 0 6px;
  background-color: var(--base);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.separator-widget .icon {
  color: var(--transparent);
  padding: 0 10px 2px;
  font-size: 12px;
}

.active-window-widget {
  padding-left: 8px;
}

.komorebi-workspaces .offline-status {
  color: var(--subtext1);
  padding: 0 0px;
  font-weight: 600;
}

.komorebi-workspaces .ws-btn {
  border: none;
  background-color: var(--surface1);
  margin: 0 3px;
  width: 10px;
  height: 10px;
  border-radius: 4px;
  color: var(--transparent);
}

.komorebi-workspaces .ws-btn:hover {
  background-color: var(--surface2);
}

.komorebi-workspaces .ws-btn.populated {
  background-color: var(--overlay0);
}

.komorebi-workspaces .ws-btn.populated:hover {
  background-color: var(--overlay1);
}

.komorebi-workspaces .ws-btn.active {
  background-color: var(--subtext0);
  width: 28px;
  height: 10px;
}

.media-widget {
  padding: 0;
  margin: 0;
  margin-right: 8px;
  border-radius: 16px;
  background-color: var(--mantle);
}

.media-widget .label {
  background-color: var(--transparent);
}

.media-widget .btn {
  color: var(--text);
  padding: 0 6px;
  margin: 4px 0;
  font-family: "Segoe Fluent Icons";
}

.media-widget .btn:hover {
  color: var(--blue);
}

.media-widget .btn.prev {
  padding-left: 8px;
}

.media-widget .btn.play {
  background-color: var(--surface0);
  border-radius: 14px;
}

.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
  color: var(--overlay0);
  background-color: var(--transparent);
}

.weather-widget .icon {
  font-size: 20px;
  padding-right: 8px;
}

.weather-widget .icon.sunnyDay {
  color: var(--yellow);
}

.weather-widget .icon.clearNight {
  color: var(--sky);
}

.cpu-widget .icon {
  color: var(--red);
}

.memory-widget .icon {
  color: var(--green);
}

.volume-widget .icon {
  color: var(--mauve);
}

.calendar {
  background-color: var(--crust);
}

.calendar .calendar-table,
.calendar .calendar-table::item {
  background-color: var(--crust);
  color: rgba(162, 177, 196, 0.85);
  font-family: "Segoe UI";
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.calendar .calendar-table::item:selected {
  color: var(--red);
}

.calendar .day-label {
  margin-top: 20px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
  font-family: "Segoe UI";
  color: var(--text);
  font-weight: 700;
  min-width: 180px;
  max-width: 180px;
}

.calendar .month-label {
  font-weight: normal;
}

.calendar .date-label {
  font-size: 88px;
  font-weight: 900;
  color: var(--text);
  margin-top: -20px;
}

.home-widget {
  padding: 0 4px 0 12px;
}

.home-widget .icon {
  color: var(--lavender);
}

.home-widget .icon:hover {
  color: var(--mauve);
}

.home-menu {
  background-color: var(--crust);
}

.home-menu .menu-item {
  padding: 6px 48px 7px 16px;
  font-size: 14px;
  font-family: "Segoe UI";
  color: var(--text);
  font-weight: 600;
}

.home-menu .menu-item:hover {
  background-color: var(--surface0);
  color: #fff;
}

.home-menu .separator {
  max-height: 1px;
  background-color: var(--surface1);
}

.weather-card {
  background-color: var(--crust);
}

.weather-card-today {
  border: 1px solid #282936;
  border-radius: 8px;
  background-color: var(--crust);
}

.weather-card-today .label {
  font-size: 14px;
}

.weather-card-today .label.location {
  font-size: 24px;
  font-weight: 700;
}

.weather-card-today .label.alert {
  font-size: 14px;
  font-weight: 700;
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
  color: rgba(196, 181, 162, 0.85);
  border-radius: 6px;
  padding: 5px 0;
}

.weather-card-day {
  border: 1px solid #45475a;
  border-radius: 8px;
  background-color: var(--crust);
}

.weather-card-day .label {
  font-size: 14px;
}
