[user]
  name = Willian Alves
  email = wba.alves@gmail.com
  username = willianba
[core]
  editor = nano
  whitespace = fix,-indent-with-non-tab,trailing-space
[alias]
  co = checkout
  cm = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short