# Font
font-family = SauceCodePro Nerd Font Mono
{{- if eq .chezmoi.os "darwin" }}
font-size = 17
{{- end }}

# Theme
cursor-style = block
{{- if eq .chezmoi.os "linux" }}
theme = noctalia
{{- else if eq .chezmoi.os "darwin" }}
theme = dark:Catppuccin Macchiato,light:Catppuccin Latte
{{- end }}

# Window
window-decoration = false

{{- if eq .chezmoi.os "darwin" }}
# macOS
macos-native-fullscreen = true
{{- end }}
